[2019-09-16 16:48] sballesteros opened #1 "Best starting point(s) to engage users to start writing / reading prereviews in the context of the Rapid PREreview project"
## Context

We want to assess the best starting point(s) to engage users to start writing / reading prereviews in the context of the Rapid PREreview project (see #4 ).

We currently have 3 (non mutually exclusive) approaches in mind:

1. "Homepage approach": User starts from the PREreview preprint discovery page or a dedicated page of the PREreview and/or Outbreak Science websites (for instance a

[2019-09-16 21:16] sballesteros opened #2 "User notifications (email)"
**Updated per discussion with @dasaderi and @SamanthaHindle   on slack**

## User notifications (via email)

- [ ] when a user review has been moderated (note that this is triggered only _after_ moderators validated user reports and not each time a user reports a potential issue).
- [ ] when a user has been blocked (lose write access to the platform) by a moderator.
- [ ] when a review is added to

[2019-09-16 21:37] sballesteros opened #3 "structured review templates ownership"
_!! work in progress (draft)_

Who can create / update structured review templates ?
- only outbreak science / Rapid PREreview
- any users
- special users

How many structured review templates do we expect ?

[2019-09-16 21:43] sballesteros opened #4 "What main "service" does Rapid PREreview provide"
_!! work in progress (draft)_

Rapid PREreview focuses on providing the best infrastructure to request / provide / analyze feedback (structured reviews) on _existing_ preprints relevant to the outbreak community.

The feedback should be of use to:
1. the outbreak community (academics)
2. workers, editors, journalists (visualization  etc.)

Rapid PREreview does _not_ focus on:
- coordinating resear

[2019-09-17 19:36] sballesteros opened #5 "MVP"
**Update**: first round of mockups is available in the [designs](https://github.com/PREreview/rapid-prereview/tree/master/designs) directory (be sure to download the PDF to view all the 3 screens as the github preview doesn't seem to always render the first one).

Note: in what follows all the authentication / user account / profile creation & display is done by PREreview.

In terms of "release st

[2019-09-18 03:20] #1 closed, assigned to nobody

[2019-09-18 06:26] #3 closed, assigned to nobody

[2019-09-20 15:53] sballesteros opened #6 "Rapid PREreview form"
**Update**: first round of mockups is available in the [designs](https://github.com/PREreview/rapid-prereview/tree/master/designs) directory (be sure to download the PDF to view all the 3 screens as the github preview doesn't seem to always render the first one).

## Structured fields

|type | required | used in faceted search | label & options |
|-----|---------|------------------|------|
| keywo

[2019-09-21 18:09] sballesteros opened #7 "Probabilistic facets"
Let's consider a preprint with 10 Rapid PREreviews for the question:
"is the data available?" (possible answer being yes, no, not applicable (n.a)) - see #6 for the current questions.

In the faceted search we want to be able to filter by preprints with data available but we may not have a definitive answer. We could have the following answers:
- 7 yes
- 2 no
- 1 n.a

Our job is to best represent

[2019-09-27 08:27] sballesteros opened #8 "Data model, API and choice of database"
## Data model

Everything is in JSON-LD.

### Profiles (internal, for operational purposes)

[code]

Note: after discussion with @dasaderi and @majohansson on slack, for now we will follow the approach of PREreview where there is only 1 persona (by default private / anonymous) and the user can only make that persona public later on. Once the persona is public there is no way back to private.

[cod

[2019-10-01 22:54] sballesteros opened #9 "Getting preprint metadata from unique identifier (DOI or OAI)"
## Context

arXiv preprints (and maybe others) do not have DOI but instead work with the Open Archives Initiative (see http://www.openarchives.org/)
We need a way to grab the metadata on the fly from a unique identifier entered by the user.

## Getting the metadata

### DOIs

We query:
-  https://api.crossref.org/works/<doi> (See https://github.com/CrossRef/rest-api-doc)
- https://develop.openaire

[2019-10-05 10:18] #4 closed, assigned to nobody

[2019-10-05 16:07] #7 closed, assigned to nobody

[2019-10-05 16:10] sballesteros opened #10 "list of infectious diseases"
Needed for faceted search.
Candidate: https://en.wikipedia.org/wiki/List_of_infectious_diseases

[2019-10-08 23:02] sballesteros opened #11 "Admin level features (moderation)"
- [x] Allow admins to retract reviews not respecting the CoC
   This can only happen for the free form questions. If we detect that a free form question violates the CoC, do we keep the review data as part of the summary stats (the yes/no questions can't be in violation by design) or do we totally discard the full review? Another way to see that is to decide on the granularity of the review modera

[2019-10-10 11:03] #9 closed, assigned to nobody

[2019-10-18 22:17] sballesteros opened #12 "Add ability for users to download data from the UI"
(in addition to API access)
This could be combined with the share menu (to grab the permalink etc.)

[2019-10-19 10:45] #10 closed, assigned to majohansson

[2019-10-25 14:19] sballesteros opened #13 "Drag and drop over a PDF object is currently broken in Chrome for Mac"
See https://bugs.chromium.org/p/chromium/issues/detail?id=984891&q=drag%20object&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified
Issue is active and should be fixed promptly per the comments.

If not, a possible workaround is to resize the `<object>` so that the PDF is not below the shell when the user starts to drag and to resize it back to 100vh

[2019-10-25 18:24] #12 closed, assigned to nobody

[2019-10-29 18:32] sballesteros opened #14 "extension popup"
From discussion with @halmos on slack:

[code]

[2019-10-30 04:42] sballesteros opened #15 "List of preprint servers for which the extension should activate"
@dasaderi @majohansson do you have a list of preprint servers that you think will be used for Rapid / Outbreak science ?
I think we will add a feedback mechanism in the extension, but to start, i would like to have a hard coded list of the preprint servers for which the web extension should be active (i.e allow users to add /request reviews).

To provide more details: we inject the shell on recogn

[2019-10-30 18:21] #15 closed, assigned to majohansson, dasaderi

[2019-10-31 00:08] sballesteros opened #16 "extension popup icons"
<img width="646" alt="Screen Shot 2019-10-30 at 5 09 26 PM" src="https://user-images.githubusercontent.com/1141327/67908256-145eac80-fb38-11e9-958a-ce4bb66e5a9c.png">

We need 2 icons to replace the R from the screenshot above:
- one in default state (the extension in not active) <- when user navigate pages irrelevant to Rapid.
- one in active state <- when user is on a page that can be reviewed.

[2019-10-31 21:39] #16 closed, assigned to halmos

[2019-10-31 21:39] #14 closed, assigned to nobody

[2019-10-31 21:50] sballesteros opened #17 "switch icon to force activate extension"
Right now the extension is only activated based on a fixed list of preprint server. That should be fine for most cases, however if that were to be a problem, we could add a Switch toggle to allow user to force activate the extension on pages not covered by our list. We would store those extra pages in local storage so the user only has to do that once.
That would allow the user to immediately use

[2019-10-31 21:52] sballesteros opened #18 "prefix all CSS classes and ID or use a global reset"
We need to protect our content script styles from the page own CSS.
We can either add a prefix to all our classes (probably simplest solution) or try a global reset betting on the fact that extension CSS is injected last (to be verified across browsers).

[2019-10-31 21:53] sballesteros opened #19 "Add public API documentation"

[2019-11-01 18:11] sballesteros opened #20 "favicons"
Probably the same icon as the extension popup icon ?

[2019-11-01 18:14] sballesteros opened #21 "title (head)"
can do with react-helmet

[2019-11-02 00:21] sballesteros opened #22 "secure express app"
Use https://github.com/helmetjs/helmet

[2019-11-02 00:23] sballesteros opened #23 "setup pm2 on azure"

[2019-11-02 00:30] sballesteros opened #24 "add logging"
Use https://www.npmjs.com/package/express-pino-logger

[2019-11-02 02:01] #22 closed, assigned to sballesteros

[2019-11-02 02:09] #24 closed, assigned to sballesteros

[2019-11-02 02:24] #21 closed, assigned to sballesteros

[2019-11-02 05:09] sballesteros opened #25 "use react-pdf as a fallback on mobile (or when browser doesn't have a plugin to display PDFs)"
See https://github.com/wojtekmaj/react-pdf

[2019-11-02 05:11] sballesteros opened #26 "use touch events for shell on mobile"

[2019-11-02 05:20] sballesteros opened #27 "shell on mobile: the 100vh drama"
See https://css-tricks.com/the-trick-to-viewport-units-on-mobile/

[2019-11-02 22:48] #25 closed, assigned to sballesteros

[2019-11-03 05:44] #26 closed, assigned to sballesteros

[2019-11-03 06:32] #27 closed, assigned to sballesteros

[2019-11-04 01:41] sballesteros opened #28 "DnD support with touch events"
Maybe using https://github.com/LouisBrunner/dnd-multi-backend/tree/master/packages/react-dnd-multi-backend ?

[2019-11-04 16:24] #20 closed, assigned to halmos

[2019-11-04 23:31] sballesteros opened #29 "Handle click outside for side panel on homepage"
Clicking outside should close side panel on mobile

[2019-11-05 05:57] sballesteros opened #30 "do not refetch search result on navigation within the app if query hasn't changed"

[2019-11-05 21:30] #30 closed, assigned to sballesteros

[2019-11-06 01:33] sballesteros opened #31 "rename to Outbreak Science Rapid PREreview everywhere and reviews to rPREreviews"
per @dasaderi and @majohansson request on slack

- [ ] "Outbreak Science Rapid PREreview" everywhere
- [ ] reviews are: "rPREreviews" with first `r` in italic _r_  (rapid)

[2019-11-06 06:52] #29 closed, assigned to sballesteros

[2019-11-06 07:45] #6 closed, assigned to nobody

[2019-11-07 01:17] #23 closed, assigned to sballesteros

[2019-11-08 05:33] #19 closed, assigned to sballesteros

[2019-11-08 05:34] #8 closed, assigned to nobody

[2019-11-08 05:50] #31 closed, assigned to nobody

[2019-11-09 03:54] #18 closed, assigned to nobody

[2019-11-09 03:56] sballesteros opened #32 "[extension] scope the reach ui attribute selectors"
we overwrite some of them so that could clash if the host page where the content-script is injected also uses @reach/ui.
We can use normal classes instead of the attribute selectors.
We would need to exclude those classes from the `postcss-plugin-namespace` plugin as some reach component are rendered in portals that are typically appended to the body so outside the realm of our scoping.

[2019-11-09 08:19] #28 closed, assigned to nobody

[2019-11-16 16:26] sballesteros opened #33 "Remaining items to go to production"
- [x] switch to production domain (outbreaksci.prereview.org)
- [x] switch to official ORCID API instead of our development mock
- [x] open source the repo (and double check [license](https://github.com/PREreview/rapid-prereview/blob/master/LICENSE))
- [x] port extension to Firefox
- [x] publish chrome extension to chrome web store
- [x] publish firefox extension to firefox web store
- [x] update

[2019-11-17 17:37] sballesteros opened #34 "Internationalization and localization"
Restricted to the UI: does not applies to translating user generated reviews.

[2019-11-21 06:41] sballesteros commented on #11
remaining items for `/moderate`:
- [ ] SSE
- [ ] lock UI
- [ ] store integration so that a retracted review immediately disappears from the moderate page
- [ ] POST /action logic
- [ ] for user report: move progress event directly into the modal + show confirmation screen

[2019-11-22 00:35] sballesteros opened #35 "redirect to preprint when user is asked to login when preprint info has already been entered"
right now login redirect to  /home or /settings based on profile completion. We should add a special case so that if a user had started to search a preprint he/she is redirected to where he/she was prompted to login.

[2019-11-24 04:29] sballesteros opened #36 "Switch to custom domain"
`outbreaksci.prereview.org`

- [x] CNAME: https://docs.microsoft.com/en-us/Azure/app-service/app-service-web-tutorial-custom-domain.
- [x] SSL cert: https://docs.microsoft.com/en-us/Azure/app-service/configure-ssl-certificate#create-a-free-certificate-preview

[2019-11-26 23:50] dasaderi opened #37 "Add "Give feedback" button to beta"
- [x] @dasaderi to make feedback form to link

- [x] @sballesteros and @halmos to add "Give feedback" button to platform by December 3rd

- [x] add _beta_ somewhere to make it obvious it's a beta.

Should we have it so that users that try it don't actually end up adding rapid reviews until it's fully launched?

[2019-11-27 00:16] dasaderi opened #38 "Add checkbox to agree to CoC when first log in"
If possible to do before December 3rd.

[2019-11-27 19:39] dasaderi commented on #37
@sballesteros @halmos and I discussed how this should look like.

I suggested to add a Give Feedback button somewhere on front page linked to a form for users to give anonymous feedback.

Users will be able to sign in with orcid and complete reviewes as if full launch, but they will we warned that this is still a beta and there might be things that don't work fluently and encouraged to give feedba

[2019-11-27 19:40] dasaderi commented on #37
[Here](https://forms.gle/H3F1azRQWfMx9aSC8)'s the draft feedback form. @majohansson please revise.

[2019-11-27 19:45] dasaderi opened #39 "Modify Rapid CoC prior to launch"
@dasaderi to modify [here](https://github.com/PREreview/rapid-prereview/blob/master/src/components/code-of-conduct.js) in a new coc branch and label changes with "TODO @sballesteros".

- [x] Specify that content will be moderated after it's posted. Community members will be able to flag potential violations and admins will evaluate and decide if the content needs to be removed and/or the user need

[2019-11-28 02:57] sballesteros opened #40 "prevent users to report reviews violating the CoC if they are not logged in"

[2019-11-28 03:02] #40 closed

[2019-11-28 05:32] #36 closed

[2019-11-28 19:24] sballesteros opened #41 "add production domain to ORCID"
callback URL is:
`https://outbreaksci.prereview.org/auth/orcid/callback`
(in addition to the azure one `https://rapid-prereview.azurewebsites.net/auth/orcid/callback`)

[2019-11-28 19:26] sballesteros opened #42 "Make extension work on our own domain"

[2019-11-28 19:43] sballesteros commented on #11
I will finish the real time lock feedback feature after other priority items have been completed as it is just visual sugar.

[2019-11-28 23:54] majohansson commented on #41
Added

[2019-11-28 23:54] #41 closed

[2019-11-29 00:33] #42 closed

[2019-12-01 04:41] sballesteros commented on #5
🎉

[2019-12-01 04:41] #5 closed

[2019-12-01 20:03] sballesteros opened #43 "data for chrome and firefox webstores"
- [x] icon (@halmos) must respect the exact width and height. See screenshot below and https://developer.chrome.com/webstore/images#icons
<img width="1213" alt="Screen Shot 2019-12-01 at 11 56 44 AM" src="https://user-images.githubusercontent.com/1141327/69919456-ccca8980-1431-11ea-8d8a-f0a9da0df144.png">

- [x] detailed description (@dasaderi  or @majohansson ) see screenshot below for instructio

[2019-12-01 21:28] dasaderi commented on #43
Detailed description – I have no idea if this is okay:

**Outbreak Science Rapid PREreview** is an open science project born by the collaboration between [PREreview](https://v2.prereview.org) and [Outbreak Science](https://outbreakscience.org). This project focuses on building infrastructure for all researchers working in the field of infectious diseases to read, provide, and request feedback on e

[2019-12-01 21:42] majohansson commented on #43
Made some light edits to the last paragraph. Also, I think anyone can install the browser extension, no? You only need to register to create reviews or requests, correct? Anyone should be able to install the extension to look at reviews, right?

[2019-12-01 22:11] dasaderi commented on #43
Yeah, you are right, @majohansson.

[2019-12-02 23:01] dasaderi commented on #43
I made some changes to the language to try reflecting that difference. Please let me know if it makes sense.

[2019-12-03 00:22] sballesteros commented on #43
@majohansson  if you have 2 min can you provide a final go on that so that i can go ahead and update the submission ?

[2019-12-03 00:54] majohansson commented on #43
I just updated again. Nothing controversial. @sballesteros please read through it again for typos and such. If good to you, go ahead and update. Thanks!

[2019-12-03 06:21] sballesteros opened #44 "extension: update popup on history pushState and replaceState"
See https://stackoverflow.com/questions/4570093/how-to-get-notified-about-changes-of-the-history-via-history-pushstate

`window.onpopstate` is not fired with pushState or replaceState.

[2019-12-03 21:42] sballesteros commented on #38
@halmos and I spent some time to discuss that and we think that the best approach is to render a modal with the CoC to the user the first time he/she logs in. Flow would be:
1. user visit /login
2. user is redirected to ORCID to enter credentials
3. user is redirected from ORCID back to rapid (/setting page) and at that point we render the modal.

The modal would be titled smtg like: "Welcome, to

[2019-12-03 22:05] #37 closed

[2019-12-03 22:35] #38 closed

[2019-12-06 06:28] #44 closed

[2019-12-06 18:28] #43 closed

[2019-12-06 23:05] sballesteros opened #45 "Add a red dot or smtg to the user badge in header (and shell) when user profile is not complete"
Smtg subtle but visible enough to catch user attention + highlight the profile settings menu item and add a CTA there to incentivize user to fill the missing profile info

[2019-12-07 05:39] #35 closed

[2019-12-07 07:03] sballesteros opened #46 "[extension] Firefox doesn't load content scripts on PDF pages"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1454760
It works fine in chrome.
Hopefully Firefox will fix that...

[2019-12-07 07:09] #17 closed

[2019-12-08 21:49] #11 closed

[2019-12-09 06:52] sballesteros opened #47 "API key"
- [x] `CreateApiKeyAction`
- [x] API: HTTP Authorization header `Authorization: ApiKey xxxx` see https://stackoverflow.com/questions/33385497/why-should-you-base64-encode-the-authorization-header and https://stackoverflow.com/questions/32157983/unable-to-decode-base64-from-req-header-authorization
- [x] UI (new section in profile settings)
- [x] document how to POST `RequestRapidPREreviewAction` u

[2019-12-09 23:44] dasaderi opened #48 "Delete a rapid review (not a CoC violation)"
Likely we will have to deal with users who submitted the review as a mistake. We as admin need a way to delete content that is not then labled as CoC violation.

@sballesteros does this require development separate from what we already have?

[2019-12-09 23:52] dasaderi opened #49 "Automatic tweet when new rapid review is posted"

[2019-12-09 23:52] dasaderi opened #50 "Admin notification of a new Rapid Review"
It would be very useful for admins to get a notification of a new review. I'd be happy with an email sent to outbreaksci@prereview.org.

This is both because we can go and moderate, and also because we can share on social media. Also see Issue #49.

@majohansson, what do you think?

[2019-12-09 23:58] dasaderi opened #51 "Generalize the login restriction to save work in progress for a specific user"
Current logic to save work in progress. Saves to local storage.
Generalize the login restriction would require more space in the storage.

[code]

[2019-12-10 00:03] dasaderi opened #52 "Extension icon dark in dark mode browser"
@halmos not sure if this is an issue that can be easily fixed, but can we add white bg to icon for extension so that it shows on dark mode browsers?

[2019-12-10 00:05] dasaderi opened #53 "Admin access to number of total reviews and requests"
@sballesteros is there a way (doesn't need to be pretty) that admins can quickly see how many reviews and requests are at any point in time? It would be very useful for us to have easy access to those numbers.

[2019-12-10 00:19] dasaderi opened #54 "Workflow: When add a review from shell, move down viz to questions"
I noticed that when I clicked "Add a Review" button from shell view, I don't see any change occur and I thought it was not responding, while in fact it did show the questions at the bottom. Perhaps it would be useful to have the question scroll up to top of form frame?

[2019-12-10 00:23] dasaderi opened #55 "View of all users with links to their profiles with search through their names"

[2019-12-10 00:58] majohansson commented on #55
This would be admin only? Or for all?

[2019-12-10 01:11] majohansson commented on #50
@dasaderi I can definitely see use in the short run. Long run it could be a pain in ***. If development is easy, and option might be a separate account so that it will be easier for us to filter?

[2019-12-10 01:13] majohansson commented on #54
Good idea

[2019-12-10 01:16] sballesteros commented on #48
Right now this can be done in 2 steps:
1. admin report the review (as a normal user would do)and specify a report reason
2. from the moderation panel admin moderate the review and specify the moderation reason

[2019-12-10 01:44] sballesteros commented on #53
Yes we have several CouchDB views giving us access to statistics.
if you login to Cloudant and visit: `/rapid-prereview-docs/_design/ddoc-docs/_view/byType?group_level=1` you will see some JSON response giving you a breakdown of the counts per types e.g:

[code]

[2019-12-10 05:28] sballesteros commented on #47
[code]

[2019-12-10 17:59] dasaderi commented on #55
I think for all.

[2019-12-10 18:00] dasaderi commented on #48
So deleting content is not automatically recorded as violation of CoC in the database?

[2019-12-10 19:02] sballesteros commented on #48
No we record a `moderationReason`. The value is currently plain text so could be anything. We could introduce discrete options if you prefer.

[2019-12-10 23:17] dasaderi opened #56 "Remove the circle and number from the list items"
@majohansson, @georgiamoon, the interviewee, and I all feel like the summary number of reviews and requests is not useful and it can be confusing. So we would like it if you could remove it.

[2019-12-10 23:20] dasaderi opened #57 "Change search sorting buttons"
@sballesteros and @halmos, maybe for search headings we could use: “Trending”, “New reviews”, “New requests”, “Newly added” as different options. We should also make these clearer (maybe with selection in bold or colored) - and remove the arrow, as there won’t be reasons to reverse the arrow.

This is based of feedback from one user and from both @majohansson and I.

[2019-12-10 23:47] sballesteros commented on #57
Can you define what “New reviews" / “New requests” means?
Is it:
1. sort by total number of reviews ?
2. sort by date of the last review (so sort so that the preprint with the latest review is first) ?
3. smtg else ?

[2019-12-11 01:22] sballesteros commented on #57
from @SamanthaHindle

[2019-12-11 01:23] sballesteros commented on #56
See also #57 as this is related to sorting (more soon).

[2019-12-11 01:44] majohansson commented on #57
@sballesteros more along the lines of #2 - latest review (request)

Base on the feedback and our thoughts, it seems that this part needs some improvement. Exactly what that means is still unclear, so we will discuss more and also get more feedback (next user test is Thursday). Thoughts welcome from all!

[2019-12-11 01:47] majohansson commented on #56
Yep. We like the trending metric, but think it should be mostly hidden. The number of reviews is likely the first interest point and the number of requests second and separate from that.

[2019-12-11 01:50] sballesteros commented on #55
Sorry not super clear on the intent here. Could you provide more details on the use case for that?
E.g. finding a reviewer ?

[2019-12-11 04:17] georgiamoon commented on #55
@dasaderi and I were talking about her need as an admin to know how many users there are and understand user activity, that's where this is coming from

[2019-12-11 04:32] sballesteros commented on #55
So maybe it's a duplicate of https://github.com/PREreview/rapid-prereview/issues/53 ?

[2019-12-11 04:36] georgiamoon commented on #55
They could be combined, I wouldn't call them duplicates, but they are part of having some admin visibility into the use of the platform

[2019-12-11 04:38] sballesteros commented on #55
Cool ok, if one of you could describe what data you need to understand user activity beyond what we have in #53 , we will get a better understanding of the data that we need to aggregate and display.

[2019-12-12 05:51] #47 closed

[2019-12-12 17:12] #52 closed

[2019-12-12 17:21] dasaderi opened #58 "If a review is already in the system don't ask for DOI/arXiv profile"
@sballesteros we noticed that even when a preprint is already on the platform, if a user clicks on Add review, it will prompt them to add DOI/arXiv ID. Is this done on purpose?

[2019-12-12 18:17] dasaderi opened #59 "Code of Conduct violation flagging"
I was thinking about this as I was writing the blog. Right now users can only flag violation of CoC of reviews that have open-ended text, right? But another way to violate the CoC is if an author of the preprint self evaluates their work, and that can be limited to the yes/no questions.

@sballesteros is it possible to have the flagging for violation available on any review?

[2019-12-12 19:00] sballesteros commented on #58
sorry not sure i follow.
Unless we have a regression or a bug:

Clicking on:
<img width="344" alt="Screen Shot 2019-12-12 at 10 56 35 AM" src="https://user-images.githubusercontent.com/1141327/70740667-7cbfb280-1cce-11ea-8bfd-d37bcb8fda49.png">

Always ask you for a DOI or ArxivId, if you enter one that's already in the system it will do the right thing that is:
- prevent you to add a request or a

[2019-12-12 19:04] sballesteros commented on #53
Ok to close?

[2019-12-12 19:07] #53 closed

[2019-12-12 19:08] sballesteros commented on #53
This is now documented in https://github.com/prereview/rapid-prereview/#usage-stats

[2019-12-12 19:09] sballesteros commented on #48
Closing in favor of #59

[2019-12-12 19:09] #48 closed

[2019-12-12 19:13] sballesteros commented on #59
We will generalize the UI to accommodate that use case.

[2019-12-12 19:35] sballesteros commented on #50
https://docs.microsoft.com/en-us/azure/store-sendgrid-nodejs-how-to-send-email seems to be the simplest way to get transactional email on Azure.

[2019-12-12 21:35] sballesteros commented on #57
We spent some time discussing that with @halmos today and we are leaning toward relabelling the options to

[code]

to make them more explicit and also more orthogonal (less overlapping) with each other.

We will update the backend accordingly and also release some UI improvement to clarify the sorting component and how it relates to the features on the preprint cards.

[2019-12-12 21:43] halmos commented on #54
@dasaderi, I want to clarify this issue and make sure we understand what is happening. The first visible graphic in the shell below the tab bar is a title indicating what you are looking at. So if you click on 'Read Reviews' the title shows 'Reviews' if you click on 'Add Review' the  title becomes 'Add a review' and the 'Add request' tab has the title 'Add a request for review'.

Can you confirm t

[2019-12-12 21:56] sballesteros opened #60 "Add JSON-LD context"
Low priority but once we have some validation on the API and data model, it would be good to invest in writing the JSON-LD context.

[2019-12-13 02:43] majohansson commented on #57
@sballesteros Sounds good. I think there may also be interest in `Recently requested`

For `Date posted on preprint server` perhaps `Preprint post date`?

[2019-12-13 02:52] sballesteros commented on #57
For recently requested we were concerned that it overlaps a bit too much with trending but will tweak the backend so that metric is available in case we want it later.
For Preprint post date, I like that it's shorter but concerned that it's still ambiguous. Hard to cleanly convey the difference between date posted on rapid and date posted on the preprint server... We kept hitting that difficulty w

[2019-12-13 03:02] sballesteros commented on #57
@halmos actually there may be smtg to do if we add Recently Requested in addition to Recently Reviewed, we could change the text in the expansion preview based on the sort option: either <Added | last reviewed> X days ago or  <Added | last requested> X days ago.
I am still leaning toward omitting "Recently requested" to avoid confusion / overlap with trending.

The other alternative we discussed w

[2019-12-13 03:13] sballesteros commented on #57
For now I will add all those dates as sort option on the backend ¯\_(ツ)_/¯

[2019-12-13 03:20] majohansson commented on #57
`Preprint server post date`?

And for `recently requested`, I think that may be more important than `trending`. I like the combo for `trending`, but don't think we want to combine requests and reviews otherwise.

[2019-12-13 03:30] sballesteros commented on #57
One annoying thing with recently reviewed or recently requested is that a lot of new content has only 1 or the other => we need a second sort parameter but i guess we can do most recently reviewed and if no review most recently requested (we sort on 2 dimensions).
Given that we have the with reviews and with requests facets, I think that Recently Active is more powerful (as you can express the 2 o

[2019-12-13 03:54] sballesteros commented on #57
sort by any date :see_no_evil:

[code]

[2019-12-13 06:58] #59 closed

[2019-12-13 16:47] halmos commented on #57
After lengthy discussion with @sballesteros based on the feedback we've received so far, we arrived at a solution with the following sort headers:

`Trending  |   Recent Activity  |  Preprint Post Date`

I wanted to take a moment to explain how we got to that from a UIX perspective and to address some of the comments above:

One significant thing to keep in consideration is that the top nav sortin

[2019-12-13 17:34] sballesteros commented on #56
Here are a few reasons against that change:

- The circle in the badge represent the time elapsed since the first activity. This number is a key component of the score. Displaying this quantity helps to understand results like:

<img width="963" alt="Screen Shot 2019-12-13 at 8 11 43 AM" src="https://user-images.githubusercontent.com/1141327/70814404-42aee900-1d80-11ea-81f8-8de25765b934.png">

Her

[2019-12-13 18:07] dasaderi commented on #58
@sballesteros, yes your are right. For some reasons @georgiamoon and I thought it asked you to input DOI again. Sorry about that.

But I still find it confusing that for not-first time user that is not logged in, after prompting them to log in as a consequence of clicking the pill button under a pre-logged preprints, it brings you to the profile and not back to the action.

[2019-12-13 18:11] dasaderi commented on #55
I think this is NOT a proirity for this MVP, but something that would be useful.
The user case for this issue goes beyond admin control. An editor might want to find reviewers who have contribute to OSrPRE (yes we are abbreviating it now!) to find reviewers for their journal and know about them. But I think this is a feature for future development. Sorry for the confusion, Sebastien.

[2019-12-13 18:13] dasaderi commented on #54
@halmos yes I do see a title change. For some reasons I had not noticed that. But what's not visible is the bullet point form which is in a sense the most important part to see. So maybe we can do that when clicking add a review the window expands up a bit over the pdf?

[2019-12-13 18:17] sballesteros commented on #55
Thanks a lot for clarifying. I understand now. So this will be a new public search page where the goal is to find users based on their profile information and activity on OSrPRE.

[2019-12-13 18:24] sballesteros commented on #58
Ok thanks, I see, right now when you start from the homepage (and the the dedicated preprint page) _and_ your profile is incomplete we redirect you to the profile settings to try to get you to fill your profile info _before_ writing your review, but i agree that it's confusing so will remove it and close that issue.

[2019-12-13 18:38] sballesteros commented on #58
Closing as remaining work is in https://github.com/PREreview/rapid-prereview/issues/45

[2019-12-13 18:51] #58 closed

[2019-12-13 18:56] dasaderi opened #61 "Add About page"
@halmos, as I mentioned in our last call, it would be very useful to just have one About page. We can have the content of the splash landing page, add a bit more about PRE and OS, contact info and funder statement.
@sballesteros is this a lot of work?
Happy to manage content via GitHub pages or, if it's too much, just have content editable in CSS (like CoC). A bit more complicated for us but easie

[2019-12-13 19:33] halmos commented on #61
This is definitely doable, but the approach depends a little bit on timeframe. If you need it before January then a hardwired React component is most feasible. However, once we have the static content CMS ready, it would be easy enough to host the about page on whatever system we land on (e.g. ghost).

[2019-12-13 21:31] #45 closed

[2019-12-14 04:26] #50 closed

[2019-12-16 01:58] dasaderi commented on #39
I made a coc-edits branch and edited the COC there. @sballesteros is there a way to visualize it or test it before joining to master and deploying it?

[2019-12-16 02:18] sballesteros commented on #39
cool thanks, yes running the website locally as per the README will let you visualise the CoC at http://127.0.0.1:3000/code-of-conduct
Once you are happy with it, you can send a pull request and i will merge and redeploy.

[2019-12-16 02:19] sballesteros commented on #39
Also ping @halmost if you want some style adjustment for the bullet points etc.

[2019-12-16 03:52] sballesteros commented on #2
I really like the distinction made by @dasaderi here:

However this requires significantly more work data that we currently have (knowing when a user is actually author of a preprint). @dasaderi maybe you can create another issue for that that can be tackled later once more work is done to have a good understanding of who are the preprint authors?
Otherwise we probably need to prioritize that work

[2019-12-16 04:08] sballesteros commented on #54
I wonder if changing the text so it's really different is not the simplest fix here (resizing / scrolling is doable but fairly complex and hard to get right while also respecting user scroll preferences):

Right now we have: "Add a review" and "Add a request for review". Maybe if we were to use:
- Add a review
- Request for feedback
The tab transition would be much clearer as all the text will cha

[2019-12-16 11:56] majohansson commented on #54
I think that's a good point, but I think "Request for feedback" doesn't really capture the process. Feedback implies back to the author whereas many requestors want reviews for other purposes; not to make it better, but to know whether they should use it or not.

Perhaps the following?

* Add review
* Request review

[2019-12-16 19:56] dasaderi commented on #39
Thank you. I think we need @majohansson to take a look at it.

[2019-12-16 21:36] majohansson commented on #39
@dasaderi I looked at your edits here: https://github.com/PREreview/rapid-prereview/blob/coc-edits/src/components/code-of-conduct.js

It looks good. My concern on the COI is that I am not sure how a reviewer will report that? We don't have a specific mechanism for that other than using the text that is already there. Is a better policy to say "Do not review a paper if you have a COI"?

[2019-12-17 08:37] Vinnl opened #62 "Add link to the source code on the AMO and CWS pages"
https://addons.mozilla.org/en-GB/firefox/addon/outbreaksci-rapid-prereview/ says the extension is licensed under the MIT license, but there's no link to the source code anywhere, as far as I could find. https://chrome.google.com/webstore/detail/outbreak-science-rapid-pr/llglocdbioijhhfloamebnagdchmmabd doesn't specify a license nor link to the source code. Linking to this GitHub might be conducive

[2019-12-17 08:41] Vinnl opened #63 "Re-use existing libraries for detecting DOIs"
There's a lot of custom code in https://github.com/PREreview/rapid-prereview/blob/master/src/utils/scholar.js to detect DOI's in a page. I just thought I'd mention the existence of [get-dois](https://www.npmjs.com/package/get-dois), which supports all of the tags recognised by Google Scholar (and a few others), has full test coverage, and is shared with other projects. You might want to consider u

[2019-12-17 19:27] sballesteros commented on #62
Thanks! just added it to the descriptions.

[2019-12-17 19:27] #62 closed

[2019-12-17 19:42] sballesteros commented on #63
Thanks, I added a note to scholar.js.

Most of the code in scholar.js is used to parse other metadata than the DOI. The DOI part itself is a few lines of code and mostly relies on https://github.com/regexhq/doi-regex (maybe `get-dois` could re-use that small module ?)

For the other metadata (date published etc.) we realized that we sometime need to interpret tags differently based on the preprint

[2019-12-17 19:42] #63 closed

[2019-12-18 23:25] dasaderi commented on #61
@halmos @majohansson Here's the suggested text for About page. If possible I'd add the WT logo at the bottom near funding.

## Project
**Outbreak Science Rapid PREreview** for the rapid review of outbreak-related preprints.
This open project is funded by the Wellcome Trust as a collaboration between Outbreak Science and PREreview.

**[Outbreak Science](https://outbreakscience.org/)** is a non-prof

[2019-12-19 02:14] majohansson commented on #61
@dasaderi Looks good. I made some minor text edits, which you can take or leave. Also, I think this might be a good place to re-state the 3 things you can do here:

1. Find rapid reviews of existing preprints.
2. Request reviews of preprints (your own, or preprints you are interested in).
3. Review preprints.

Up to you if you want to add though.

[2019-12-19 02:40] dasaderi commented on #61
Great. Ready to be uploaded then. :)

[2019-12-19 18:12] halmos commented on #61
This text was added in commit https://github.com/PREreview/rapid-prereview/commit/9f0ac3394302208956d882612ecca14986fa1ee8

[2019-12-19 18:12] #61 closed

[2019-12-19 21:06] sballesteros commented on #54
fixed with an animation

[2019-12-19 21:06] #54 closed

[2019-12-20 03:09] #57 closed

[2019-12-20 03:13] sballesteros commented on #56
FWIW we tried the hourglass approach but it's not really working: in our case the amount of sand in the hourglass varies in between entries (and sand can be re-added to the hourglass at any time).
The current circle is a better representation as it illustrates 1 / (time_ellapsed + 1) ^g which is guaranteed to go from 1 -> 0 as time_ellapsed goes from 0 -> Infinity.

[2019-12-20 03:13] #56 closed

[2019-12-20 03:19] #39 closed

[2019-12-20 17:10] dasaderi opened #64 "Moderation error in message"
I have not read the above yet, but will soon. I’m on an interview. I just removed a review that was flagged as problematic because probably a test. After I submitted that I got this message:
<img width="726" alt="Screen Shot 2019-12-20 at 7 33 21 AM" src="https://user-images.githubusercontent.com/13750121/71272440-7356cb80-2308-11ea-953f-55e21db143b7.png">

[2019-12-20 17:53] dasaderi opened #65 "Red dot on profile stays even after completing the selection"
We noticed during interviews that the red dot prompting action on profile completion did not go away after choosing a persona.

[2019-12-20 17:56] dasaderi opened #66 "Submit button should be referenced to the same storybook item across places"
Many users did not see the Submit button when in white. It looks like in some case Submit is in red in others it's in white similar to "Add review" and "Add request" button.
@halmos can we make it consistently red to make it more obvious?

[2019-12-20 17:58] georgiamoon commented on #66
To be clear: this is our guess about what's happening here, but the submit button in the shell is different than the submit button in the "Add Entry" overlay, and they should be consistent.

[2019-12-20 18:33] dasaderi commented on #56
Okay. What about making the circle red? Nobody from the interviews got the decay. The contrast between greys is not enough. But we can leave this to future-dev if you want.

[2019-12-20 18:43] dasaderi opened #67 "Redirect # reviews | # requests button associated with each review"
Pretty much unanimously, all users we interviewed expected to actually be able to read the reviews and see the requests associated with each preprint when clicking on that.

I believe that makes sense and would like to (in order of importance):
1. Redirect the action that happens when clicking on # reviews | # requests to the shell view (as it happens when you click on title)

2. Add a logo/+ butt

[2019-12-20 18:49] dasaderi opened #68 "Show identity of users/personas who have requested feedback"
Right now a user can't see who has requested reviews. That is very useful information for users as we discovered during interviews.

Proposed change:
- Show users who made requests and when the request was made when clicking on #request in search view and in shell view.

[2019-12-20 19:36] halmos commented on #56
i will play with the colors to see if we can make it more apparent.

[2019-12-20 19:37] halmos commented on #66
i went ahead made these red "primary" style buttons. i also added more space at the bottom to increase chance that user will scroll the controls into view.

[2019-12-20 19:37] #66 closed

[2019-12-20 21:10] dasaderi commented on #66
Wonderful! Thank you, Erik!

[2019-12-21 10:21] sballesteros commented on #65
the dot is to indicate missing profile info (missing display name or avatar) not to trigger a persona selection.

[2019-12-21 10:21] #64 closed

[2019-12-22 06:38] sballesteros commented on #2
[code]

[2019-12-31 07:26] #2 closed

[2020-01-05 18:57] sballesteros opened #69 "set cookie expiration date"
see https://github.com/jaredhanson/passport-facebook/issues/46 and http://www.passportjs.org/docs/authorize/

[2020-01-05 20:42] #69 closed

[2020-01-06 17:06] #65 closed

[2020-01-08 17:09] #33 closed

[2020-01-25 04:42] sballesteros opened #70 "prevent to submit review or request if the server doesn't get any metadata for the preprint"

[2020-01-25 19:27] sballesteros opened #71 ".draggable-role-badge--dragging with visibility issues causes issues on firefox"
.draggable-role-badge--dragging seems to remain set after drop events and as its visibility is hidden that creates issues.

[2020-01-29 08:12] sballesteros commented on #71
i deleted the --dragging logic as it was no longer needed with the latest reach ui but the issue is still there in FF. This may be due to https://github.com/react-dnd/react-dnd/issues/869

[2020-01-29 08:14] #70 closed

[2020-01-29 16:27] dasaderi opened #72 "Did Not Connect: Potential Security Issue message when clicking on notification email link"
When I click on any links from a notification email I get this message on Firefox:
"Did Not Connect: Potential Security Issue"

[2020-01-29 17:01] sballesteros commented on #72
@dasaderi  i think this happens because someone enabled tracking on sendgrid:
<img width="1471" alt="Screen Shot 2020-01-29 at 8 59 20 AM" src="https://user-images.githubusercontent.com/1141327/73378611-b72ce100-4275-11ea-8d56-d36e8408215f.png">
With this setting, all the urls of the emails are being rewritten.

[2020-01-29 20:28] sballesteros opened #73 "allow to add reviews or requests for preprint before the DOI has been registered"
We get the metadata from the HTML of the preprint => we know everything we need _before_ the DOI is registered. This works well with the extension where we don't need to lookup the DOI at all.
However, server side we revalidate the metadata. To do so we rely on the DOI to get the URL of the HTML... That create issues as there can be cases where we do have all the metadata (from the HTML) but the s

[2020-01-29 23:03] majohansson commented on #73
@sballesteros That sounds like a good solution. Is there a potentially that could cause any issues for when preprints get updated? When they are updated on a preprint server, the server url may change (e.g. adds 'v2'), but the DOI is maintained (I think?) and directs to the updated version? Not at all sure if this could cause problems.

[2020-02-03 03:55] #73 closed

[2020-02-03 04:56] sballesteros commented on #72
i deactivated the tracking hopefully that fixes it

[2020-02-03 04:56] #72 closed

[2020-02-03 21:21] dasaderi commented on #72
Yes, it did. Thank you @sballesteros.

[2020-03-03 22:47] dasaderi opened #74 "Consider pushing request to login until after review is written or requested"

[2020-03-18 22:24] dasaderi opened #75 "PDFs are not loading properly"
e.g. https://outbreaksci.prereview.org/10.1101/2020.01.26.20018754

[2020-03-18 22:40] sballesteros commented on #75
- 10.31219/osf.io/abx7s seems to be a bug
- the medrxiv / biorxiv ones seem to come from medrxiv / biorxiv responding with a 503 error.

[2020-03-18 22:46] dasaderi commented on #75
Thanks, @sballesteros. So it's not an issue on our end? What can we do?

[2020-03-18 22:52] sballesteros commented on #75
Not sure, I will check in more details tonight after work. The URL we want to load seems to work (https://www.biorxiv.org/content/biorxiv/early/2020/03/12/2020.03.11.987958.full.pdf) so not sure why we get the 503.
Just a vague theory but given that we are proxying the request through https://github.com/PREreview/rapid-prereview/blob/master/src/routes/api-routes.js#L374-L398 and that the URL works

[2020-03-18 22:57] sballesteros commented on #75
https://outbreaksci.prereview.org/10.3389/fpsyg.2019.01557 works and it's the exact same code path.

[2020-03-18 23:00] georgiamoon commented on #75
We also tested and found that the arxiv is down, so not a bug for rapid-prereview from that perspective.

Instead we should probably change this bug to be that rapid needs a way to handle in the UI for when the arxiv servers are having issues and communicate that to the user.

[2020-03-18 23:03] sballesteros commented on #75
As far as i can tell the medrxiv and biorxiv servers are not down for the DOI I checked and the issue is only when the PDF is proxied (the raw URL works fine)

[2020-03-18 23:05] sballesteros commented on #75
it seems that medrxiv / biorxiv are now using an extra layer of protection to protect from DDoS attacks and maybe we got blacklisted as part of it?

[2020-03-18 23:06] georgiamoon commented on #75
@sballesteros we were getting 503s here. I think they might be having an intermittent issue due to increased load. My point is that rapid-prereview probably needs a way to handle the fact that the source material might not be available, and so have a way provide a good user experience in that event.

[2020-03-18 23:10] sballesteros commented on #75
sure assuming that it's intermittent (which I am not 100% sure yet) improving the error message is definitely a good idea and could be done in a new issue 👍

[2020-03-18 23:11] sballesteros commented on #75
also AFAIK arxiv and biorxiv / medrxiv are hosted on different infrastructure so their status should be independent.

[2020-03-18 23:13] sballesteros commented on #75
<img width="967" alt="Screen Shot 2020-03-18 at 4 11 55 PM" src="https://user-images.githubusercontent.com/1141327/77015830-39ab5600-6933-11ea-96f5-faf1ed3fdfd6.png">

^^ that's the new protection layer from biorxiv / medrxiv which may be creating an issue for our proxy.

[2020-03-18 23:30] georgiamoon opened #76 "Improve UI feedback to the user to address when remote content isn't available"
As noted in #75, when there is an external issue affecting the PDFs loaded by rapid-prereview it is unclear to the user if rapid-prereview has an issue or something else. We should improve the error handling and UI for this so that the user can better understand what is happening and engage with rapid-prereview effectively.

[2020-03-24 17:37] dasaderi opened #78 "Improvement of visualization of the rapid review in the context of the preprint pdf"
<img width="1193" alt="Screen Shot 2020-03-24 at 10 30 53 AM" src="https://user-images.githubusercontent.com/13750121/77457929-9aff7900-6dba-11ea-8042-a5a14151e73d.png">

Possible improvements based on user feedback:

- [ ] Change the order of the questions to group across categories of review to follow the actual thinking process that goes behind evaluating a manuscript from big picture to more d

[2020-03-24 17:41] dasaderi opened #79 "Improvement on the aggregated rapid reviews dataviz"
<img width="1201" alt="Screen Shot 2020-03-24 at 10 40 45 AM" src="https://user-images.githubusercontent.com/13750121/77458749-efefbf00-6dbb-11ea-87f9-137b41df490a.png">

Brainstorm ideas to make the visualization of aggregated rapid reviews more intuitive to interpret.

[2020-03-24 18:04] dasaderi opened #80 "A topic/tag dashboard view for folks to understand information within a tag/topic"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%240%20Funded-%2300A156.svg" />](https://issuehunt.io/r/PREreview/rapid-prereview/issues/80)

Not specific to review content but a tool to help choose the preprint to review among a given topic:

e.g. a COVID-19 dashboard to help people navigate potential preprints to review

---

<details>
<summary>
<b>IssueHunt Summary</b>

[2020-03-24 18:27] dasaderi opened #81 "Improvement on the dataviz of a user profile to highlight COVID-19 review contributions"

[2020-03-24 18:28] dasaderi opened #82 "Viz that could be used for social media to promote engagement with COVID-19 preprint reviews"

[2020-03-24 18:45] dasaderi opened #83 "Add functionality to add tags to requests and make them searchable (e.g. COVID-19 tag)"

[2020-03-24 19:42] mortonanalytics commented on #79
Hi there! I'm understanding you want feedback and ideas for the data viz. My feedback is relatively simple as there aren't too many options with yes/no data.

Option 1) The fixed length plot will be easier to read if it's order by yes responses - that way the relative differences will be easier to discern.

![image](https://user-images.githubusercontent.com/11967114/77469030-17528600-6dd4-11ea-911

[2020-03-25 16:24] dasaderi commented on #79
@mortonanalytics Thank you so much for your feedback.
The possible answers to each question right now are "yes", "no", "unsure", and "N/A".
I like option 2 and 3. But what should we do with the "unsure" and "N/A" options?

<img width="1193" alt="Screen Shot 2020-03-24 at 10 30 53 AM" src="https://user-images.githubusercontent.com/13750121/77560136-47546480-6e7a-11ea-815b-0aa3342f358c.png">

[2020-03-25 20:01] mortonanalytics commented on #79
I'm not sure option 2 works with more than two responses. I'd stick with the existing chart and play around with the sizing. Try something not as long and perhaps wider to increase the readability and visual impact. If we could break out the NA and unsure into a sub category, we could maybe keep the yes/no butterfly idea (you'll need your imagination here where the yes/no replaces the likert-like

[2020-03-25 21:28] dasaderi commented on #79
@mortonanalytics thank you so much. These are great suggestions. I'm a fan of donut charts but I fear it may get too busy to have one of those for every answer. However, if we can come up with a summary score, that could be a way to show aggregated summaries.

Option 4 seems very similar to existing plot but with more definition, wider bar, and % instead of absolute number, or am I missing somethi

[2020-03-25 21:34] mortonanalytics commented on #79
You’re not missing anything on Option 4. Just wanted to demo how even minor
layout changes can make some easier to scan and digest easily.

I agree multiple donuts can be a bit much. Another option is to have a 2-3
donut summary at top, with detailed bar chart breakdowns below.

On Wed, Mar 25, 2020 at 3:28 PM Daniela Saderi <notifications@github.com>
wrote:

--
Ryan Morton, Principal Analyst
Mort

[2020-03-30 15:41] dasaderi opened #84 "Non-preprint manuscripts should NOT be found by the search"
I noticed that there are [three reviews of a non-preprint article ](https://outbreaksci.prereview.org/2003.12444). This should not happen. Need to delete this content and let the authors of the reviews know.

[2020-03-30 20:05] dasaderi commented on #84
Ooops. My mistake. This is an arXiv preprint. Closing the issue.

[2020-03-30 20:05] #84 closed

[2020-04-01 17:17] dasaderi opened #85 "User Feedback: Suggested new question to add to the form"
A user suggested we add a question to the form asking "Have the relevant guidelines been uploaded and completed properly". The user was referring to [this](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1550605/) checklist called CHERRIES:

"a checklist of recommendations for authors is being presented by the Journal of Medical Internet Research (JMIR) in an effort to ensure complete descriptions of

[2020-04-01 17:19] dasaderi commented on #75
Another user signaled this problem with the following preprints:

THE CAUSE OF PANIC AT THE OUTBREAK OF COVID-19 IN SOUTH AFRICA – A COMPARATIVE ANALYSIS WITH SIMILAR OUTBREAK IN CHINA AND NEW YORK
https://outbreaksci.prereview.org/10.31730/osf.io/sy54p

COVID-19 in unequally ageing European regions
https://outbreaksci.prereview.org/10.31219/osf.io/abx7s

[2020-04-01 19:14] sballesteros commented on #75
yes any OSF preprint should be like that, i have a hint of a PR that I am hoping to send soon

[2020-04-03 15:25] dasaderi opened #86 "Possible collaborations for API intergration"
- [ ] ResearchGate

- [ ] covidpreprints.com

- [ ] SemanticScholar (Daniela needs to reach out)

- [ ] bioRxiv/medRxiv

[2020-04-05 17:47] sajacy commented on #13
May I suggest that the drag-and-drop interaction be removed completely?

IMHO, the accessibility and UX would be improved by simplifying to a circular highlight border around the profile picture to indicate if the review is shown. To preserve the full functionality in the menu, each profile photo could also have a "External Link" icon (&#x2B08;) near the photo that links to the reviewer's profile

[2020-04-08 05:11] sajacy commented on #86
I took a look at the Mt Sinai reviews on their [Github](https://github.com/ismms-himc/covid-19_sinai_reviews/tree/master/markdown_files).  It seems they're trying to standardize on a Markdown format (that's great!).

A couple ideas / questions:

 * It's easy enough to create some scripts to scrape and parse these Markdown files, but the format is quite different than the review questions + free-te

[2020-04-08 12:06] georgiamoon commented on #13
I 100% agree! That sounds great.

On Sun, Apr 5, 2020, 13:47 Jeffrey Yang <notifications@github.com> wrote:

[2020-04-08 16:23] dasaderi commented on #83
Tagging can help make the content more discoverable. Right now the user on OSrPRE has to tag the reviews with the "2019-nCOV" tag. Ideally we would have a system that searches for keywords in the title and abstract of the preprint to automatically tag or suggests tags of these preprints/reviews/requests.

[2020-04-08 16:23] dasaderi commented on #86
@sajacy Thank you so much for your work and suggestions. We just got an email from the group at Mt. Sinai saying, as you mentioned, that they have the reviews are being publicly posted to GitHub as Markdowns on this repo: https://github.com/ismms-himc/covid-19_sinai_reviews.

Also, they are pulling the reviews from this repo into the Observable notebook using the GitHub API: https://observablehq.c

[2020-04-09 23:14] dasaderi commented on #13
I also agree. Even though it was a clever idea, it's been a feature no user has got in our interviews and I myself struggle with it.

[2020-04-15 01:56] georgiamoon commented on #75
@dasaderi @sballesteros is this issue still relevant? It seems like the OSF preprint issue is different, but I don't know if there's an issue for that?

[2020-04-15 02:09] georgiamoon commented on #86
@sajacy I've been debating a few ideas here, because the longterm goal that we need to map out is to merge the code bases supporting PREreview and rapid-prereview together.

The idea that I've been discussing with @raegaines @dwins and @dasaderi is to introduce a "type" or "template" to the attributes for a PREreview, and then allow for a choice of template:
- rapid form
- long review
- rapid form

[2020-04-15 02:12] georgiamoon opened #89 "Search Enhancement: If a user searches for a preprint that is not already in the database, lookup the preprint on various servers and allow the user to request or add a review"

[2020-04-15 03:12] dasaderi commented on #75
I'm not sure.

[2020-04-15 03:12] georgiamoon opened #90 "Allow user to choose whether to post anonymously or not at time of submission"

[2020-04-15 13:47] georgiamoon opened #91 "OSF.io Preprints are not rendering on the site"
Another user signaled this problem with the following preprints:

THE CAUSE OF PANIC AT THE OUTBREAK OF COVID-19 IN SOUTH AFRICA – A COMPARATIVE ANALYSIS WITH SIMILAR OUTBREAK IN CHINA AND NEW YORK
https://outbreaksci.prereview.org/10.31730/osf.io/sy54p

COVID-19 in unequally ageing European regions
https://outbreaksci.prereview.org/10.31219/osf.io/abx7s

_Originally posted by @dasaderi in https:/

[2020-04-18 18:30] sajacy commented on #89
A couple things to note:

* For both Preprints.org and Research Square, I was not able to find open APIs nor ToS or T&Cs for directly proxying preprint PDFs. How should we proceed with requests for preprints hosted by these types of sites?  It seems inadvisable to simply reverse-engineer / scrape the PDF URLs.
* The [getpreprints](https://github.com/PREreview/getpreprints/blob/master/lib/adapters/

[2020-04-18 23:27] dwins opened #92 "Use docker configuration in continuous integration"
Ensure the continuous integration environment is as consistent with dev by sharing docker configuration between the two.

[2020-04-18 23:31] dwins opened #93 "Automatically start the server in Docker when no other action is specified"
For developer convenience, it would be great to have 'docker-compose up' provide a fully running instance of PREreview in development mode.  From #77:

[2020-04-18 23:34] dwins opened #94 "npm script or scripts to run docker-compose"
Instead of relying on documenting complex docker commands in the readme, we could add some npm scripts to encapsulate.  One idea is a 'docker' command that just starts the server; should there be others (restart individual backends, clear persisted data, etc?)

[2020-04-24 17:13] dasaderi opened #96 "COVID-19 tag at the beginning of the tag list"
To better highlight COVID-19 content, it would be helpful to put SARS-CoV2 tag at the beginning of the tag list on the left and maybe bold it or highlight it somehow.

[2020-04-24 17:20] dasaderi opened #97 "Add a way to highlight preprints that should be prioritized for publication"
Related to #101

We have a question on the form that asks a reviewer if they recommend the preprint for peer review. We could find a way to rank preprints in the system for which the rapid reviews have the most yeses to that question or even ask a more specific question about prioritization for COVID-19 preprints content only?

[2020-04-24 18:42] dasaderi commented on #86
Update on possible API standards that would allow for integration with preprint servers:

- Way to query if the review(s) has been requested by the author and if the review(s) has been moderated. Preprint servers want to know that to eventually display the reviews on their sites but only those for which the authors have driven the request AND that have been moderated. This could be done by matchin

[2020-04-24 18:47] majohansson commented on #96
Reviews are categorized by diseases, not pathogens. So the tag should be "COVID-19" not 'SARS-CoV-2".

[2020-04-24 18:47] majohansson commented on #83
Reviews are categorized by diseases, not pathogens. So the tag should be "COVID-19" not 'SARS-CoV-2".

[2020-04-24 18:58] georgiamoon commented on #96
The main change I would make is to sort the tags on the side by number of preprints and not alphabetically, OR to add sort-ability there, but I think that'd be a bigger issue.

Based on @majohansson 's input, we should make it "COVID-19". I think right now it's actually nCoV19.

[2020-04-24 19:09] dasaderi commented on #96
Thank you @majohansson. Made change here an on Issue #83

[2020-04-24 19:46] dasaderi opened #98 "Way to circle back rapid review to authors"
Something that is not really COVID-19 specific but that would help a lot with making the content useful fast, is to have a way to email the corresponding author of the preprint with an alert that a rapid review has been submitted on their preprint.

Ideas on how to do this? On bioRxiv/medRxiv preprints there's always a corresponding author's email available in the metadata, as far as I know.

[2020-04-24 23:53] dasaderi opened #99 "Update Beta Notice"
When should we remove the text that says that the platform is still a beta?

**See updated comment below.**

[2020-04-27 19:07] georgiamoon opened #100 "Add an attribute for a group to the user profile"
Based on a collaboration with open journals, we need a way to reference all users that are a part of this collective review effort.

[2020-04-27 20:13] dasaderi opened #101 "OSrPRE contribution to OASPA consortium of publishers #RapidReviewC19"
This is a Master Issue to discuss how OSrPRE can optimize for this initiative. Individual issues with the agreed upon change should be made for each point.

A group of publishers + us at OSrPRE has signed an [open letter](https://oaspa.org/scholarly-publishers-working-together-during-covid-19-pandemic/) that came out today April 27, to basically do 2 things:

- Recruit researchers with relevant ex

[2020-04-28 18:43] georgiamoon opened #102 "Search Enhancement: Leverage an existing search library tool to allow for easier indexing"
Related to #83

@dwins started looking into elastic search as an option and may have some thinking to share here.

[2020-04-28 18:49] georgiamoon opened #103 "Add COVID call to action banner for the OSrPRE site"
Related to #101
- [x] Link to the Call to Action of the letter
- [x] Link to the COVID relevant preprints

**Update**: Add a Call to Action Banner on the homepage/all pages to bring people to the COVID19 Tag dashboard (#80)

[2020-04-28 23:09] dasaderi commented on #83
[Here](https://www.alia.org.au/groups/HLA/covid-19-live-literature-searches)'s a set of keywords we can use for querying the metadata.

[2020-04-29 21:19] dasaderi commented on #101
In today's call with publishers from this group, I was asked if we can give rapid reviews DOIs to integrate metadata in CrossRef. Right now we don't give DOIs to the rapid reviews, but we do via Zenodo, on PREreview. What we do have on OSrPRE is a "permalink" that associates the preprint to the reviews.

Thoughts @majohansson @georgiamoon? I think it's something we should think about, but not a pr

[2020-05-01 17:52] dasaderi commented on #101
@murkatr @georgiamoon I made some slides summarizing some of current OSrPRE features and proposed ideas for this issue to share with preprint workflow group from the open letter group https://docs.google.com/presentation/d/1_g1qr-dwR3bdSP9PJD_jBj9BmLf5ScEsGCtQmn4ZVbI/edit#slide=id.g76f2b40aae_1_80. It can be improved, but  I think it can be useful when you are trying to communicate ideas to them i

[2020-05-01 19:12] simsecdeploybot-ott commented on #101
@dasaderi this is super helpful. I'll review! I'm subscribed to the form replies as well, so seeing those as they come in.

[2020-05-03 21:29] dasaderi commented on #86
We heard back from bioRxiv. Richard said " If you can supply a feed of the articles we can add trackback links to them from bioRxiv." Can we already do this with the current API? @rudietuesdays @jheretic

[2020-05-06 20:29] georgiamoon opened #106 "Improve API feedback"
The response message without an API key does not currently let the user know they are not receiving results because they do not have an API key.

[2020-05-12 19:00] rudietuesdays commented on #80
Tagged @georgiamoon and @murkatr to build wireframes for this!

[2020-05-21 14:19] rudietuesdays opened #110 "Allow API to show number of requests like browser extension does"

[2020-05-21 14:28] rudietuesdays commented on #102
Related to #57

[2020-05-26 17:55] murkatr commented on #75
From May 12th Meeting:
- Not COVID specific
- No feedback for the user on why no data is returned and why/where

[2020-05-27 00:21] harumhelmy opened #112 "ResearchGate preprints blocked by X-Frame-Options Policy on Firefox"
<img width="1333" alt="Screen Shot 2020-05-26 at 20 13 54" src="https://user-images.githubusercontent.com/13320420/82962423-30231780-9f8e-11ea-905e-d135397e6614.png">

It looks like ResearchGate has a X-Frame-Options policy that blocks how we render preprint PDFs on the PREreview site. Not sure how to fix this, or even how big of a priority this is.

[2020-05-27 15:21] harumhelmy opened #113 "Improve user-facing API docs on OSrPRE site"
e.g. include examples of what a successful API query would look like.

[2020-05-27 22:08] harumhelmy opened #114 "Searching for already added preprints by DOI doesn't yield any results"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/PREreview/rapid-prereview/issues/114)

Happening both on my local build and on the deployed OSrPRE site. Can someone else corroborate?

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $100.00)

- [<img src='https://avatars1.githubuserc

[2020-06-01 19:20] georgiamoon commented on #100
@dasaderi's mockup of what this could look like

<img width="909" alt="Screen Shot 2020-06-01 at 3 19 37 PM" src="https://user-images.githubusercontent.com/941210/83445642-55df6f00-a41b-11ea-976b-88a5906463f8.png">

[2020-06-01 19:22] georgiamoon commented on #83
This is already in progress, but adding @dasaderi 's mockup of the disease tag list here

<img width="837" alt="Screen Shot 2020-06-01 at 3 21 49 PM" src="https://user-images.githubusercontent.com/941210/83445864-c5555e80-a41b-11ea-8b79-8551a4c92a7b.png">

[2020-06-01 19:27] georgiamoon opened #115 "Changes to Rapid Form Questions"
This is something that has been raised as part of the OASPA issue (#101) and with suggestions from users (#85). There are a few meta-decisions that need to be made here:

- [ ] Determining how we want to manage versions of the questions
    - [ ] How do we want to aggregate over different versions of the questions?
    - [ ] When the questions form is changed, how do we want to handle questions th

[2020-06-01 19:27] georgiamoon commented on #115
For the OASPA conversation, here is a mockup with notes from @dasaderi with ideas about changes.

<img width="733" alt="Screen Shot 2020-06-01 at 3 23 19 PM" src="https://user-images.githubusercontent.com/941210/83446318-765bf900-a41c-11ea-8e13-9b3a0c0f375a.png">

[2020-06-01 19:29] georgiamoon commented on #115
@majohansson do you have thoughts about the approval process for making changes to the form for rapid reviews?

[2020-06-02 18:27] georgiamoon opened #116 "Add an API call that shows all of the reviews by preprint DOI, sorted by date"
Related to #86, bioRxiv has requested a feed of all reviews, sortable by date so that they can integrate them into the bioRxiv page for a preprint.

They specifically need:
preprint DOI, review title, date, reviewer author name, link to OSrPRE

We could also provide the output as an RSS feed which might be easiest for partners to import.

[2020-06-05 19:20] majohansson commented on #115
@georgiamoon These are bigger changes you highlighted and I think we will need to consider as part of a large-scale plan.

[2020-06-05 19:44] georgiamoon commented on #115
Building on @majohansson 's comment from a conversation we had — until we have a plan for managing versions of the questions, it'd be better to keep the form **as is**.

We did discuss re-wording the data question, so that it more clearly communicates asking about access to the data set from a study, as the OASPA initiative has expressed interest in.

[2020-06-09 17:14] georgiamoon commented on #80
Here is a rough sketch of a tag dashboard idea:
![MVIMG_20200609_112323](https://user-images.githubusercontent.com/941210/84178633-b93c5300-aa52-11ea-8350-e50ef6cb01cf.jpg)

- The histogram would be a timeline of preprints + reviews
- The three blocks at the bottom would be "New Preprint Requests", "Review Activity" and "Reviewers"
- The about section could have some text about the tag/term/etc, o

[2020-06-09 17:31] #96 closed

[2020-06-09 18:49] georgiamoon commented on #86
Related to https://github.com/PREreview/prereview-standup/issues/111

[2020-06-09 20:27] georgiamoon opened #117 "Download all OSrPRE data"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/PREreview/rapid-prereview/issues/117)

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $100.00)

- [<img src='https://avatars1.githubusercontent.com/u/39268982?v=4' alt='prereview' width=24 height=24> prereview](https://issuehunt.io/u/

[2020-06-09 20:27] georgiamoon opened #118 "Download all data data related to a search, e.g. "COVID19""
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/PREreview/rapid-prereview/issues/118)

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $100.00)

- [<img src='https://avatars1.githubusercontent.com/u/39268982?v=4' alt='prereview' width=24 height=24> prereview](https://issuehunt.io/u/

[2020-06-10 01:39] georgiamoon commented on #97
At the moment, we will address this by creating the dashboard idea in #80

[2020-06-10 01:39] murkatr commented on #115
In the OSrPRE review/question form, split the data sharing question (“Are the data used in the manuscript available”) into something like: “Are the data used in the manuscript available via a link? Please share the link.” and “If there is no link to available data, are the data used in the manuscript available upon request? Please share who to contact about seeing the data.”

@dasaderi was thinkin

[2020-06-10 02:06] murkatr commented on #100
**Update**: We are no longer labeling OASPA Initiative reviewers - only COVID reviews.

[2020-06-10 02:13] murkatr commented on #81
@dasaderi @georgiamoon I believe we are no longer planning on doing this, correct?

[2020-06-10 02:14] murkatr commented on #79
This could be helpful for #80

[2020-06-10 05:43] georgiamoon commented on #100
@murkatr re-opening — I think we want to keep this feature open but for later, this just isn't going to be a priority right now.

[2020-06-10 05:44] georgiamoon commented on #81
Correct @murkatr — let's close this issue.

[2020-06-15 19:50] dasaderi commented on #115
Thank you all for these comments. @murkatr @majohansson @georgiamoon this is what I would suggest based on conversations so far:

- Are the data used in the manuscript openly available. If yes, please paste the link to the data in the box below.

I also suggest we change the (?) part that currently says "In the paper, supplement, on a public repository, or from a cited source?" to "The data are av

[2020-06-15 20:02] majohansson commented on #115
Some minor suggestions:
- Are the data used in the manuscript openly available? If yes, please paste the link to the data in the box below.

(should be it accessible instead of available?)

And for the info box: "The data are available for anyone to download (e.g. from a public repository) and are linked in the manuscript or supplementary information."

[2020-06-16 17:38] murkatr opened #119 "Remove disease tagging counts in the side bar"
The disease tag counts are minimally informative because they only represent things that have been manually tagged. Let's remove them for now, and we can always bring them back if and when they have something meaningful to represent.

[2020-06-16 17:41] murkatr opened #120 "Mozilla Sprint Series"
Mozilla has funded PREreview to hold a Mozilla Sprint Series before the end of August (at the latest).

Sprint 1: internal
Sprint 2: invite Mozilla and eLIFE and others

See [folder](https://drive.google.com/drive/folders/1N3M4xZiF2vni0v-rQk8AU_u7IW7uiC8q) and [overview](https://docs.google.com/document/d/1Gdzo3_suTS9pnEaR208YHX8AvOTGCa0sUxAIcYf8QX4/edit) for more information.

[2020-06-16 17:48] jheretic commented on #83
As per the decision to address this via linking disease tags to dynamic searches, this is fixed in #111

[2020-06-16 17:48] #83 closed

[2020-06-16 17:53] murkatr opened #121 "Plan how to manage version changes on OSrPRE review/question form"
Since we are going to move forward with updating the data accessibility question (#115), let's make sure we have a plan in place to track version changes of the form.

[2020-06-16 18:29] murkatr commented on #121
This is a repeat issue to #115.

[2020-06-16 18:29] #121 closed

[2020-06-16 18:37] murkatr commented on #119
Done - disease tags counts are removed.

If counts are possible, add - or save for later
Have counts so it’s clear to the user that there are preprints in that category

[2020-06-16 18:38] jheretic commented on #120
Replaced w/ the Mozilla Sprint Series milestone.

[2020-06-16 18:38] #120 closed

[2020-06-16 19:33] murkatr commented on #98
@murkatr @dasaderi ToDO: We need to talk with the OASPA Initiative more about a workflow for notifying authors that a review has been submitted. What are journals workflow for this? Are there any meta-data on the preprint about journal submission?

[2020-06-16 23:10] murkatr commented on #99
"Beta Notice: Please note that any reviews submitted during the beta stage of Outbreak Science Rapid PREreview may be lost in future updates."

We can change above to say,
"Beta Notice: Please note that any reviews submitted during the beta stage of Outbreak Science Rapid PREreview will be migrated over into future updates."

[2020-06-17 02:19] georgiamoon opened #122 "The two text field questions are showing up in the middle of the question form"
Reported by @dasaderi after the June 15, 2020 deployment
<img width="1429" alt="Screen Shot 2020-06-16 at 2 25 41 PM" src="https://user-images.githubusercontent.com/941210/84847553-6ac52080-b01f-11ea-9ab8-1e106e3d268d.png">

[2020-06-17 15:34] harumhelmy commented on #122
After [investigating git blame](https://github.com/PREreview/rapid-prereview/commit/3a16fed1afcc83625e797c41a29129f945c21062), it looks like those two text-field questions were moved there back in April by another developer. It's very easy to move it back, but just wanted to bring this into attention, in case the text-fields were moved to where they are now for another reason.

[2020-06-17 19:49] dasaderi commented on #115
@harumhelmy @jheretic @rudietuesdays how soon can we get this modified in the form? With the OASPA initiative we would like to invite reviewers who signed up next week. Is it possible to get this done by Wednesday next week?

[2020-06-18 23:16] murkatr opened #123 "Search by DOI"
Be able to search by DOI of already requested preprints

**Duplicate of #114**

[2020-06-18 23:17] murkatr opened #124 "Move the two optional fill-in questions to the end of rapid review form"
Update the question form to have the optional fill-in questions at the end

[2020-06-18 23:30] #123 closed

[2020-06-19 18:58] dasaderi opened #125 "External links to EuropePMC"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/PREreview/rapid-prereview/issues/125)

From email conversation with Michele Ide-Smith ([EuropePMC](https://europepmc.org/)) January 22, 2020:

"We are keen to get links to reviews of preprints in https://www.prereview.org or https://outbreaksci.prereview.org/api onto p

[2020-06-22 03:44] harumhelmy opened #128 "Improve UX for users when a review is not yet submittable"
Some of the questions on the rapid PREreview form are obviously required, and the red Submit button is disabled when those questions are unanswered. Right now, there isn't any indication to the user why that button is disabled, nor does the button look disabled.

[2020-06-22 21:32] #99 closed

[2020-06-23 02:28] #122 closed

[2020-06-23 02:42] jheretic commented on #103
Closed by #130

[2020-06-23 02:42] #103 closed

[2020-06-23 15:01] murkatr opened #131 "User Settings header adjustment"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/PREreview/rapid-prereview/issues/131)

The horizontal header bar is low (under where the Call to Action Banner is on the home page) and allows the main text to scroll behind and above it.
![User Settings](https://user-images.githubusercontent.com/64230315/85423439-8eaa

[2020-06-23 15:07] murkatr commented on #97
🛵  Placed in the parking lot.

[2020-06-23 15:24] murkatr opened #132 "Tagging different subject areas"
- I’m not sure about how we would do this, but if you can provide us with a list of useful subject areas or subtopics (e.g., “clinical trial”, or “vaccine”, “modeling”), we could offer a drop-down menu to the reviewers so that the review and associated preprint can be tagged for easier search by editors. [This ontology](https://www.ebi.ac.uk/ols/ontologies/srao) was suggested by FAIRdata.
- **Upda

[2020-06-23 21:48] murkatr commented on #115
Data question will require a link be added to the text field if “yes” is selected

[2020-06-23 21:52] murkatr commented on #132
More search terms related to the disease tags that might not be in the title or abstract, but can be searchable.

@georgiamoon to ask @majohansson if there are other disease tags to mention/list.
@harumhelmy to look into implementing this.

Group tags - a label that maps to query string with more terms

#83 - COVID keywords
https://www.ebi.ac.uk/ols/ontologies/srao (but with more disease tags)

[2020-06-25 20:32] georgiamoon commented on #80
@carijyao and I were meeting today to work on this, and we came up with some questions that we're trying to work through. The big one is what should be the "prioritized views" on the dashboard? In my initial sketch, I included the priorities that the OASPA team identified as important to that initiative:

- The histogram would be a timeline of preprints + reviews
- The three blocks at the bottom w

[2020-06-30 17:43] murkatr commented on #80
**From the 6/30 OASPA Preprint Working Group Call:**
- **Audience**: editors, publishers, and members of the OASPA Initiative
- **Purpose**: speed up the review process
- **Priorities to highlight**:
- [ ] Most recommended (e.g. to others, for peer review, contains data)
- [ ] Most active reviewers (please don't lead with this)
- [ ] Link to recently requested preprints filtered on main page
- [ ]

[2020-06-30 21:20] georgiamoon commented on #80
Thanks @murkatr ! That actually aligns pretty with the most recent sketch that @carijyao was working on so that's great!

One thing that we were realizing is that `recently requested` and `recently reviewed` could have the same preprint in their list, so we were thinking to have `recently requested, but NOT YET reviewed` as a distinction.

Does that seem right @dasaderi @murkatr ?

@carijyao if yo

[2020-07-01 17:05] murkatr commented on #80
@georgiamoon @carijyao The OASPA group saw "most recommended" as a priority, so if we can adjust the sketch to make this the main/largest view with a "recent activity" list slightly smaller to the right of "most recommended", and a "active reviewer" list even smaller and off to the right side of the "recent activity".

(1) most recommended - they were interested in seeing preprints listed that was

[2020-07-02 05:59] carijyao commented on #80
![IMG_5476](https://user-images.githubusercontent.com/42358508/86321731-6cc9da80-bbee-11ea-8c75-cfb09149afba.jpg)

Let me know what you guys think! @georgiamoon @murkatr @dasaderi

[2020-07-02 15:20] dasaderi commented on #80
@murkatr @georgiamoon and @carijyao thank you for all the thoughts and work so far.

I think what Katrina just wrote is correct. While I think there is value in building these dashboards from the perspective of a reviewer, I think here we should focus on the perspective of a reader/editor who needs to prioritize work for further review or for reading. So, having data/list of reviews filtered by th

[2020-07-02 15:21] dasaderi commented on #80
Ooops, just refreshed and saw the new draft by @carijyao. I love it! So we ditched any visualization?

[2020-07-02 16:28] carijyao commented on #80
What kind of visualization did you have in mind? And thanks for providing the prioritized user group. It's very helpful and I'll incorporate that into any future designs @dasaderi

[2020-07-03 03:48] murkatr commented on #80
Awesome work @carijyao! The only thing I would add is that the Most Recommended also includes a drop-down option for both "recommended to others" AND "recommended for peer review".

RE: visualization - At first, @georgiamoon was envisioning a histogram of preprints and reviews, but when this idea was presented as an additional option (in a text list) to the OASPA Preprint WG they didn't seem to th

[2020-07-03 04:48] murkatr commented on #97
This is now being solved with the COVID-19 Dashboard (#80)

[2020-07-03 22:53] dasaderi opened #133 "COVID-19 search gets unselected after clicking on "Next Page" in the list of preprints"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/PREreview/rapid-prereview/issues/133)

If I select the COVID-19 search on the left and then click on "Next Page", it goes away. What I question there is, is the search still filtered by COVID-19 search or not?

<img width="1437" alt="Screen Shot 2020-07-03 at 3 50 41 P

[2020-07-03 23:08] dasaderi opened #134 "Getting rid of the structured form "not in context""
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/PREreview/rapid-prereview/issues/134)

I find it confusing to have the visualization of the form "not in context". I would like to suggest a workflow that connects directly the action of "Add a review" to the split screen view "in context" of the form and the preprint.

[2020-07-03 23:10] georgiamoon commented on #134
I agree! Maybe we could tag this for the sprint as well @jheretic @rudietuesdays @harumhelmy

[2020-07-06 15:38] murkatr commented on #80
@carijyao The OASPA Preprint Working Group loved your latest sketch.

Since they were agreeing they'd like to see both recommended "to other" and "for peer review", we were thinking to have 4 checkboxes total: "Recommended to others", "Recommended for peer review", "Contains reported data", and "Contains reported code" or some other design that allows a combination of toggling the different option

[2020-07-06 20:03] georgiamoon commented on #76
From discussion with @murkatr — Another example of this issue is when a preprint is recently posted, but meta-data isn't available yet. PREreview reports a 404 when trying to add the preprint. See screen shot.

<img width="565" alt="Screen Shot 2020-07-06 at 4 02 40 PM" src="https://user-images.githubusercontent.com/941210/86636329-2683cb00-bfa2-11ea-9747-c9d06d820284.png">

[2020-07-06 20:54] georgiamoon commented on #134
To make this change the UI flow should be:

- Click "Add a review | Request a review"
- Enter the DOI
- if the user clicks "Add Review"
    - Rather than seeing just the form, take the user to the view of the PDF view with the form next to it, or overlayed (depending on screen size)
- If the user clicks "Request Reviews"
    - Remove the "View in Context" option from the box, and just have "Go Bac

[2020-07-07 14:17] rudietuesdays opened #135 "Complete dashboard front end"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/PREreview/rapid-prereview/issues/135)

Build a semi-dynamic front end for the dashboard, following the wireframe [here](https://github.com/PREreview/rapid-prereview/issues/80#issuecomment-652801118) including:

- [x] Reuse components such as search bar that have alread

[2020-07-07 14:19] rudietuesdays opened #136 "Hook up Dashboard API"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/PREreview/rapid-prereview/issues/136)

Write missing functionality for new dashboard component to speak with the API and pull correct results based on filtering. See requirements in #80.

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total:

[2020-07-07 18:47] murkatr opened #137 "Create a RSS Export"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/PREreview/rapid-prereview/issues/137)

We want to provide an RSS feed for partners to import.

They specifically need:
preprint DOI, review title, date, reviewer author name, link to OSrPRE

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Tot

[2020-07-07 20:32] dasaderi opened #138 "Extension bug: When asked to login on OSrPRE via extension it redirects to website"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/PREreview/rapid-prereview/issues/138)

On Firefox (I have not verified this on Chrome) when using the extension to add a review directly from a preprint server the site asks to login if not yet logged. But the problem is that once orcid-mediated login happens the sit

[2020-07-07 21:18] murkatr commented on #138
It does this same thing on Chrome.

[2020-07-09 16:12] #133 closed

[2020-07-09 16:53] #131 closed

[2020-07-10 17:36] #134 closed

[2020-07-13 19:32] #114 closed

[2020-07-14 03:17] murkatr opened #143 "Bug: Preprint not found"
https://outbreaksci.prereview.org/10.21203/rs.3.rs-32796/v1 says "Not Found"

Here's the pdf: https://assets.researchsquare.com/files/rs-32796/v1/4a557e94-2c89-41ab-89c1-9e2f1e75bcbf.pdf

Here it is on Research Square: https://www.researchsquare.com/article/rs-32796/v1

[2020-07-14 03:21] murkatr commented on #143
![Not Found](https://user-images.githubusercontent.com/64230315/87380021-71738480-c546-11ea-8ea1-1078c1e8edff.png)

[2020-07-14 04:16] georgiamoon commented on #143
@murkatr does it work if you remove the `v1` ? I believe that OSrPRE can't take the version numbers on the DOIs.

[2020-07-14 04:26] georgiamoon opened #144 "Search should probably be fuzzy not exact"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/PREreview/rapid-prereview/issues/144)

covi = 0 results
covid = over 50 results
corona = ~4 results
coronavirus = ~40 results

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $100.00)

- [<img src='https://avatars1.githubusercontent.co

[2020-07-16 20:39] willianveiga commented on #137
@murkatr, I've been trying to fix this issue but I'm not sure how to get all the data.

Considering the RSS specification, what should I place in the title element? What about the description?

I appreciate if you can provide more technical details.

Thanks.

[2020-07-16 22:40] leonardosfl commented on #138
Hi, @dasaderi! I've implemented a fix for this. I just wanted to know if this is the right behavior.

It redirects to the login page and then returns to the previous page and opens the extension form.

Login modal:
![login-popup](https://user-images.githubusercontent.com/68347722/87728814-3b2e4300-c79a-11ea-9ce4-e6539c7761fd.gif)

Login button:
![login](https://user-images.githubusercontent.com/68

[2020-07-17 00:30] jheretic commented on #137
Hi @willianveiga, that's a good question about the title and description fields. To give some context, this was floated as a possibility specifically for BioArxiv, who were basically willing even to scrape a static page for the content, as a more structured solution for them to keep track of new reviews without having to make a large number of API calls on their page load. Given that, I think ther

[2020-07-17 22:26] dasaderi commented on #138
@leonardosfl Thank you so much! Great work!

[2020-07-18 16:09] leonardosfl commented on #138
@dasaderi Thanks! I've submitted the PR.

[2020-07-20 21:04] jheretic commented on #138
One more point of clarification on user interaction, @dasaderi:

@leonardosfl's #145 does fix the issue as shown. But I just wanted to mention that if there are no existing reviews or requests, it seems as if you can only login via the login link in the dropdown menu (since there's no way to summon the drawer). If you login via that link, it ultimately brings you to https://oubreaksci.prereview.or

[2020-07-21 00:19] leonardosfl commented on #138
It's possible to summon the drawer by pulling it from the bottom.

![drawer](https://user-images.githubusercontent.com/68347722/87998429-40f39380-cace-11ea-8b20-8dfa7ac72d5e.gif)

I was not sure if I should change that link too, but it should be possible.

[2020-07-21 23:10] willianveiga commented on #137
With your help @jheretic, I've created a draft PR.

I appreciate if you could give me a feedback to continue working on it.

Thank you.

[2020-07-27 19:46] #144 closed

[2020-07-28 13:17] leonardosfl commented on #138
Hi @dasaderi, Is this fixed?

[2020-07-28 15:01] jheretic commented on #138
Hi @leonardosfl, I'm marking this as fixed.

[2020-07-28 19:44] murkatr commented on #143
@georgiamoon Unfortunately, it still does not work when the v1 is removed.

@leonardosfl As an update, @georgiamoon will be emailing Research Square about this. We may need to take a different approach with Research Square preprints. (Also connecting the related #89 issue here.)

[2020-07-28 21:43] georgiamoon commented on #143
@murkatr Sorry for confusion — that email conversation is a bit unrelated to this issue.

My understanding from the @jheretic is that the issue is ResearchSquare doesn't enable us to reference the hosted PDF the way we are doing for other preprint servers.

At the moment I think the fix to this issue is to provide clearer feedback that the PDF can't be loaded, rather than that the PDF is not found

[2020-07-29 09:33] wetneb commented on #89
Because the search field says "Search preprints with PREreviews or requests for review by DOI, arXiv ID or title", I expect that if I paste in a DOI in that field, it will fetch the DOI metadata on the fly to display the paper in Prereview, letting me request a review or add one myself. Currently, it will return no results if the paper has not been added to Prereview before.

Recognizing such ids

[2020-08-03 08:39] TheGuardianWolf commented on #135
I'm looking to start work on this issue, what's the relation between this one and #80? Does one need to be completed first?

[2020-08-03 15:30] harumhelmy commented on #125
Hi all! So if I'm understanding correctly, we just want to provide EuropePMC with links to preprints that have reviews and/or requests for reviews on OSrPRE, right?

The query string to `GET` the first batch of preprints on OSrPRE is `https://outbreaksci.prereview.org/api/preprint/?q=*:*&sort=%5B%22-dateLastReview%3Cnumber%3E%22%2C%22-score%3Cnumber%3E%22%2C%22-datePosted%3Cnumber%3E%22%5D&include

[2020-08-03 15:55] harumhelmy commented on #135
Hey there @TheGuardianWolf sorry for the delay in responding -- this issue is actually fixed for now. Please take a look at other issues you might want to help with and feel free to tag me with any questions :)

[2020-08-03 15:56] harumhelmy commented on #113
I think this is probably good and fixed for now!

[2020-08-03 15:56] #113 closed

[2020-08-03 15:58] #135 closed

[2020-08-03 16:11] #128 closed

[2020-08-03 18:15] #136 closed

[2020-08-03 21:12] harumhelmy opened #157 "Craft a query to lookup multiple search terms in preprint titles"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/PREreview/rapid-prereview/issues/157)

Calling couchDB and/or no-SQL experts. Currently, the COVID-19 Dashboard (find it on localhost:3000/dashboard once you have your local environment and build set up) only `GET` s preprints with COVID-19 in the title. We'd love it i

[2020-08-03 21:57] harumhelmy opened #158 "Dashboard UX: Add conditional asking users to login when attempting to add or request review"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24200%20Funded-%2300A156.svg" />](https://issuehunt.io/r/PREreview/rapid-prereview/issues/158)

On `outbreaksci.prereview.org/dashboard` when a user is not logged in and clicks the button(s) to Add Review or Request Review, nothing happens. We need to replicate the behavior that's currently on the main homepage, where if a u

[2020-08-04 01:26] TheGuardianWolf commented on #89
@harumhelmy this one seems good to start on, I've got a proposal for your search implementation if you've not already considered it.

I'm currently in a company that has implemented search for a product recently by building it from scratch and we found that this was limiting compared to using a third party search API such as one provided by Azure or Google, would you be interested in leveraging th

[2020-08-04 19:20] georgiamoon commented on #143
@leonardosfl FYI — We decided to clarify this issue vs #75 so that #75 is about better error handling and this issue is about improving the display of ResearchSquare preprints!

[2020-08-04 22:15] leonardosfl commented on #143
@georgiamoon Just to mention, this also affects ResearchGate preprints: https://outbreaksci.prereview.org/10.13140/RG.2.2.33033.06242/1

[2020-08-04 23:34] georgiamoon commented on #143
Yes — My understanding is that we need a way to handle each preprint server which is slightly different. Is that your sense as well @leonardosfl ? or is there a common solution for a few of them?

[2020-08-05 02:47] leonardosfl commented on #143
@georgiamoon The issue with ResearchGate is different. We are able to get the PDF URL, but ResearchGate doesn't seem to allow us to embed the PDF, it redirects to the preprint page if we try do it (which is the current behavior). I tried proxying it using the API, but ResearchGate detects that we are not using a browser and returns a `403 Forbidden`.

Because of that, I think we'll have to use the

[2020-08-05 12:03] ChaituVR commented on #118
Can i know more about this? should display a download button in search page that downloads all pdfs or all data as csv?

[2020-08-05 12:44] georgiamoon commented on #118
hi @ChaituVR ! Yes — sorry for not putting more info here, but what I was thinking was basically export all meta-data as a summary csv and maybe a json output that's easy for someone to work with. I could imagine the csv looking like:

`doi, requests_count, reviews_count,requests_userids,reviews_userids, aggregated stats from the review form`

and potentially the json would have an object that lis

[2020-08-05 18:47] jheretic commented on #125
For some additional context for anyone who might want to take on this issue:

* Since we are currently working on a new API backend, rather than trying to rework the existing API we want to implement a script which will fetch data using multiple calls to the existing API and synthesize it into multiple formats. Documentation on the existing API is at https://outbreaksci.prereview.org/api.
* One of

[2020-08-05 20:51] harumhelmy commented on #157
Closed via #159

[2020-08-05 20:51] #157 closed

[2020-08-07 16:31] brymut commented on #117
Hi @georgiamoon, I would like to take a shot at this. May I please get a little more info of what we'd like done for this. Will we be looking to get all of the data in a specific format? And how would this all be accessed by users in the API and UI?

[2020-08-07 20:08] harumhelmy commented on #118
Hi @ChaituVR @georgiamoon! We're almost done working on a script that would meet the behavior desired by this issue, so we're thinking we're going to close this one. Sorry about not updating this issue sooner, that was our bad :/

[2020-08-07 20:12] harumhelmy commented on #117
Hi @brymut! A colleague and I actually started working on a script in a separate repo that would end up meeting the needs of this issue. Sorry for the bad communication here. We're working on adding more issues and attaching them to bounties as the project continues to evolve — hope you'll continue to be interested in contributing! Thanks for hollering!

[2020-08-08 13:41] brymut commented on #117
No prob @harumhelmy , thanks for clarifying.

[2020-08-08 17:38] #117 closed

[2020-08-08 17:38] #118 closed

[2020-08-10 23:14] dasaderi opened #163 "Extension: rapid review form does not show the data quesiton with option to paste the link to data"
I assume the changes to the from that have been made to the main site have not been updated for the extension. Is this correct? It needs to be fixed or there will be problems of compatibility in the data.

[2020-08-11 23:44] harumhelmy commented on #125
Closing this issue for now, WIP solution is at https://github.com/throneless-tech/prereview-feed

[2020-08-11 23:44] #125 closed

[2020-08-12 17:47] dasaderi opened #164 "Add extension banner to the hompage"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/PREreview/rapid-prereview/issues/164)

I think it would be useful to point out that a user does not have the extension installed. I saw this on [PubPeer](https://pubpeer.com/), and quite like that idea.

I suggest adding a message such as "You have not yet installed th

[2020-08-12 19:16] murkatr opened #165 "Edit language in OSrPRE's red Call to Action banner"
Update “Click here to find preprints on COVID-19 with reviews or requests for reviews." to read “Get involved with rapidly reviewing COVID-19 preprints and then view our [COVID-19 Dashboard](https://outbreaksci.prereview.org/dashboard) of review activities and recommendations.“

Once we have the How-To video, we can link it to the "get involved" statement.

Update "Click here to read OASPA’s open

[2020-08-13 10:16] TheGuardianWolf commented on #89
Looking to work on this issue, has anyone read my proposal above?

[2020-08-13 10:38] ChaituVR commented on #164
I've started working on this, will raise PR soon

[2020-08-13 19:57] dasaderi opened #167 "In Chrome but not in Firefox problem loading the pdf of a new preprint"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/PREreview/rapid-prereview/issues/167)

In Chrome but not in Firefox the pdf of a new preprint that has not already being reviewed or requested for review on OSrPRE does not load. The problem is not there at all in Firefox. In order to get it to load, one has to first r

[2020-08-13 20:03] leonardosfl commented on #167
I think it's the same issue I pointed here: https://github.com/PREreview/rapid-prereview/pull/160

[2020-08-14 18:20] #165 closed

[2020-08-14 18:43] #167 closed

[2020-08-14 18:43] #158 closed

[2020-08-14 19:05] harumhelmy commented on #89
@TheGuardianWolf sorry for the delay here! I think this might be a good solution! The rub is that we're also separately working into transitioning the site's backend into postgres (it's currently on couchDB). I don't know much about integrating cloud search engines yet, so I'm wondering whether you know how reusable your fix would be reusable with a postgres backend?

[2020-08-14 20:11] TheGuardianWolf commented on #89
For this situation, let's imagine I've finished implementing the cloud solution, the end products are:

* The indexer for the internal data stored on couchDB
* Adapter to reshape 3rd party data into a workable format
* The indexer for any 3rd party data
* The adapter for the cloud search engine API
* The Search UI itself in the frontend

Of these things, if your schema does not change significantl

[2020-08-14 20:17] TheGuardianWolf commented on #89
Would you be able to give me a working invite to your slack team? The one on the readme seems to be dead :(

I think we could talk about this more effectively via chat

[2020-08-14 21:24] dasaderi opened #169 "Delete all requests for review by Katrina Murphy public and private profile"
These requests were made by mistake.

[2020-08-14 21:36] harumhelmy commented on #89
@TheGuardianWolf good call: https://join.slack.com/share/zt-gfm50o5z-Web8LW5Xt7c0_3SbmZPoEA

[2020-08-14 21:38] harumhelmy commented on #89
I'm logging off for the evening (EDT here), but for a bit more (vagueish) context: the new data structure is still WIP, but we should finalize it on Tuesday, or a little bit after, and in the meantime I'll dig up a spreadsheet that might help with elucidating the current data structure

[2020-08-15 10:37] TheGuardianWolf commented on #89
Unfortunately I can't accept a shared channel request, I don't have the paid version of slack!

[2020-08-17 21:29] harumhelmy commented on #89
Sorry for the bad invite 😅 can you try this one: https://join.slack.com/t/prereview/shared_invite/zt-9qpk9pc5-6fsyuI6hwMuenjusPxDTCw

[2020-08-18 19:57] dasaderi opened #170 "Update About page with new content"
I will work on updating a google doc with this content as I can't directly change the page.

Things to update (this list is a work in progress):
- [ ] Add info about OASPA
- [ ] Add call to action re COVID-19 review
- [ ] Add info about how to contribute/give feedback including the code and link to the issues for the sprint
- [ ] Add Mozilla and Sloan to list of funders.

[2020-08-18 19:58] dasaderi opened #171 "Delete the Give Feedback banner"
With the request of adding an extension banner to the site (PR #168), there was a discussion around the fact that there are too many call to action on the front page. Josh, Georgia and I discussed this and think we should get rid of the Give Feedback banner and update the About with a call to feedback there (for which I made another issue [#170](https://github.com/PREreview/rapid-prereview/issues/

[2020-08-18 21:07] dasaderi opened #172 "Get number of reviews and requests updated at the top of the search"
I keep getting questions about how many requests for reviews and reviews of COVID-19 preprints are in the website and realize we don't have a quick way of assessing that — unless I'm missing it. Perhaps showing numbers somewhere at the top of the search that updates with the filters that are clicked would be helpful? Both in the homepage and the dashboard? I noticed numbers show up in light grey n

[2020-08-19 10:12] ChaituVR commented on #164
@dasaderi this issue will auto-close on merge of #168 until then please re-open

[2020-08-19 22:14] dasaderi commented on #138
@leonardosfl @jheretic I just logged in from the extension in Chrome and it did it again. After I clicked on "Log in with your Orcid", screen that showed after I tried to Add a review from medRxiv

<img width="1358" alt="Screen Shot 2020-08-19 at 3 12 09 PM" src="https://user-images.githubusercontent.com/13750121/90695025-7ce55a00-e22e-11ea-940a-8843e503915e.png">

a new window opened for the logi

[2020-08-19 22:16] dasaderi commented on #138
Additionally, even if I'm logged in, when I go back to the window on meRxiv, it still does not detect me as logged in.

[2020-08-19 22:47] leonardosfl commented on #138
@dasaderi I think it has not been deployed yet
![ext](https://user-images.githubusercontent.com/68347722/90697083-f9d6fa80-e253-11ea-8203-9f71da8ba8a8.png)

[2020-08-20 18:22] dasaderi commented on #138
You are right, @leonardosfl. My mistake. :D We are on it!

[2020-08-20 20:16] georgiamoon commented on #172
Yeah — I think that's a good idea, some sort of summary stats on the dashboard page.

@carijyao and I chatted about this today and started working on a sketch.

[2020-08-24 17:54] dasaderi commented on #164
Sorry about that @ChaituVR. Re-opened.

[2020-08-24 23:28] murkatr opened #176 "Review drawer doesn't show-up with Chrome browser extension"
This is an issue only in Chrome; Firefox works as expected.

After downloading the current Outbreak Science Rapid PREreview browser extension in the [Chrome store](https://chrome.google.com/webstore/detail/outbreak-science-rapid-pr/llglocdbioijhhfloamebnagdchmmabd) and opening a preprint on a preprint server, I click on the extension in the toolbar and then the 'Add Reviews' button and nothing hap

[2020-08-26 17:55] #164 closed

[2020-08-27 16:40] murkatr opened #177 "Uncheck Code of Conduct agreement box at login"
After someone clicks "Login", they currently don't have to check the box saying they read and agree to the Code of Conduct. It would be preferred if the box was unchecked, so the user would need to check it before they can click "Sign in with ORCID".

[2020-09-02 19:42] murkatr opened #178 "Share new API information"
@harumhelmy @rudietuesdays to share the following with Nici (Center for Open Science) by next Wednesday
- [ ] new API sketch
- [ ] structure of queries

[2020-09-15 16:47] murkatr commented on #178
This is more of a communication task, so closing it here as these tasks are now [here](https://github.com/PREreview/dreamteam_management/issues/233) and [here](https://github.com/PREreview/dreamteam_management/issues/234).

[2020-09-15 16:47] #178 closed, assigned to rudietuesdays, harumhelmy

[2020-09-15 17:14] murkatr opened #179 "Make sure the login via ORCID iD works with the new codebase"

[2020-09-29 20:14] #179 closed, assigned to nobody

[2020-09-29 20:17] murkatr commented on #179
This issue has now been moved [here](https://github.com/PREreview/prereview/issues/5).

[2020-09-29 20:21] #177 closed, assigned to nobody

[2020-09-29 20:33] dasaderi commented on #110
@rudietuesdays can you please confirm that this is still an issues and should be migrated?

[2020-09-29 20:36] #106 closed

[2020-09-29 20:37] dasaderi commented on #102
@harumhelmy @jheretic @rudietuesdays can you please create a new issue, or new issues, related to this in the new repo based on what has already been done and what still needs to be done on the backend for this?

[2020-09-29 20:42] dasaderi commented on #176
@harumhelmy @jheretic @rudietuesdays can you clarify if this is still an issue? Can you update here?

[2020-09-29 20:43] dasaderi commented on #171
Not a priority right now.

[2020-09-29 20:46] #172 closed

[2020-09-29 20:47] #90 closed

[2020-09-29 20:49] dasaderi commented on #143
@leonardosfl @jheretic @harumhelmy @rudietuesdays is there any update on this issue?

[2020-09-29 20:55] dasaderi commented on #138
@jheretic was this deployed?

[2020-10-01 18:12] murkatr commented on #170
This is now #249 in DreamTeam repo

[2020-10-01 18:12] #170 closed

[2020-10-02 17:18] rudietuesdays commented on #115
@dasaderi is this something that would be desired before the site merge? If so, we can prioritize!

[2020-10-02 17:21] rudietuesdays commented on #102
@dasaderi on it!

[2020-10-02 17:36] rudietuesdays commented on #80
Should this issue be closed out @dasaderi @murkatr @georgiamoon ?

[2020-10-02 17:36] rudietuesdays commented on #78
Should this be closed out @dasaderi @murkatr @georgiamoon ?

[2020-10-05 12:29] georgiamoon commented on #78
I think the spacing and layout ideas are still relevant and should probably
get included/merged with the issue about the questions and managing the
form.

[2020-11-19 18:49] murkatr commented on #80
Yes – thanks @rudietuesdays!

[2020-11-19 18:49] #80 closed

[2020-11-19 18:53] murkatr commented on #100
Linking this to the new "Community Features" milestone for the "New Merge" project under the "PREreview/prereview" repo.

[2020-11-19 21:40] murkatr commented on #102
@rudietuesdays Am I correct to say this issue is now linked to the New Merge Platform project as [#14](https://github.com/PREreview/prereview/issues/14)?

[2020-11-19 22:11] murkatr commented on #101
_**An update on the above unchecked-tasks:**_

**Identify RapidReviewersC19 users on OSrPRE**
- [ ] #100 - 🛵 , #80
Because we will have access to the ORCID iD of the RapidReviewersC19 as google sheet output of the form, we can have a way to match the orcid id of the OSrPRE users to that list and automatically tag them as part of that group. I would propose to add that tag to the user profile.
**Up

[2020-11-19 22:39] murkatr commented on #89
@harumhelmy @rudietuesdays Am I correct to say this issue is now also linked to the New Merge Platform project as issue [#14](https://github.com/PREreview/prereview/issues/14)?

[2020-11-19 22:49] murkatr commented on #82
@murkatr will discuss with @dasaderi.

[2020-11-24 13:18] spiritbroski commented on #137
still not done yet?

[2020-11-24 13:35] jheretic commented on #137
Hi @spiritbro1, thanks for the note that we should probably close this out. We ended up implementing this export as a separate script which you can find here: https://github.com/PREreview/PREreview-feed, and the new platform that merges the features and data from both https://prereview.org and this project is being developed here: https://github.com/prereview/prereview and will include a data expo

[2020-11-24 13:35] #137 closed

[2020-11-24 21:06] rudietuesdays commented on #110
This is implemented in the new version of the API! Closing out.

[2020-11-24 21:06] #110 closed

[2020-11-24 21:08] rudietuesdays commented on #102
@murkatr yes, that's correct!

[2020-11-24 21:10] rudietuesdays commented on #89
@murkatr correct, though some of the implementation of this in the new merged platform is also related to building the API. Either way, it is related to the building taking place in the new merged platform.

cc @harumhelmy

[2021-01-05 11:09] brymut commented on #143
Hi, is this still available for anyone to try out?